<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Yapped.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Yapped.Properties.Settings>
        <setting name="UpgradeRequired" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="WindowLocation" serializeAs="String">
            <value>200, 200</value>
        </setting>
        <setting name="WindowSize" serializeAs="String">
            <value>776, 584</value>
        </setting>
        <setting name="WindowMaximized" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="RegulationPath" serializeAs="String">
            <value>C:\Program Files (x86)\Steam\steamapps\common\Sekiro\param\gameparam\gameparam.parambnd.dcx</value>
        </setting>
        <setting name="SplitterDistance1" serializeAs="String">
            <value>250</value>
        </setting>
        <setting name="SelectedParam" serializeAs="String">
            <value>0</value>
        </setting>
        <setting name="VerifyRowDeletion" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="SplitterDistance2" serializeAs="String">
            <value>249</value>
        </setting>
        <setting name="DGVIndices" serializeAs="String">
            <value />
        </setting>
        <setting name="HideUnusedParams" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="GameType" serializeAs="String">
            <value>DarkSouls3</value>
        </setting>
    </Yapped.Properties.Settings>
  </userSettings>
</configuration>